* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
}

img {
  height: auto;
  max-width: 100%;
}

body {
  background-color: #d7e3f2;
}

.preloader-wraper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.39);
}
.preloader-wraper .preloader-spiner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.preloader-wraper .preloader-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
.preloader-wraper .preloader-text .task-proces-bar {
  position: absolute;
  left: 0%;
  bottom: -10px;
  height: 5px;
  transition: 0.4s;
  background-color: #fff;
  border-radius: 2px;
}

.img-wraper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.39);
}
.img-wraper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 16/9;
}

.search-wraper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.search-wraper .search-inp {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: 600;
  width: 80%;
  height: 40px;
  border: none;
  padding-left: 10px;
}
.search-wraper .search-inp::-moz-placeholder {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
}
.search-wraper .search-inp::placeholder {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
}
.search-wraper .bar-code-search-btn {
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translate(75%, -50%);
}
.search-wraper .search-send-btn {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  height: 40px;
  width: 20%;
  background-color: #1cc879;
  border: none;
}

button.html5-qrcode-element {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  width: 150px;
  background-color: #1cc879;
  padding: 10px 15px;
}

.search-result-wraper .item-wraper {
  padding: 10px 5px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 30px;
}
.search-result-wraper .item-wraper .item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #a7c9e8;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.search-result-wraper .item-wraper .item-place {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
  margin-bottom: 10px;
  background-color: rgba(255, 112, 112, 0.6784313725);
  color: rgb(0, 0, 0);
}
.search-result-wraper .item-wraper .item-content-wraper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;
}
.search-result-wraper .item-wraper .item-content-wraper img {
  height: 60px;
  min-width: 85px;
  aspect-ratio: 16/9;
}
.search-result-wraper .item-wraper .item-content-wraper .item-text-wraper {
  padding-left: 15px;
  width: 100%;
  max-width: 100%;
}
.search-result-wraper .item-wraper .item-content-wraper .item-text-wraper .item-count {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: 808;
  line-height: 20px;
  -webkit-backdrop-filter: opacity(0.5);
          backdrop-filter: opacity(0.5);
}
.search-result-wraper .item-wraper .item-content-wraper .item-text-wraper .item-count p {
  border-radius: 5px;
  padding: 5px;
  background-color: #a7c9e8;
  margin-bottom: 10px;
}
.search-result-wraper .item-wraper .item-content-wraper .item-text-wraper .item-count .danger {
  background-color: #ff7070;
}
.search-result-wraper .item-wraper .item-desc {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  max-height: 60px;
  overflow-y: hidden;
  margin-bottom: 20px;
  transition: height 0.4s;
}
.search-result-wraper .item-wraper .visible {
  max-height: 1000px;
}
.search-result-wraper .item-wraper .cell-capacity-display {
  padding: 15px 10px;
}
.search-result-wraper .item-wraper .cell-capacity-display .cell-capacity-desc {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
.search-result-wraper .item-wraper .cell-capacity-display .cell-capacity-bar-wraper {
  width: 100%;
}
.search-result-wraper .item-wraper .cell-capacity-display .cell-capacity-bar-wraper .cell-capacity-bar {
  height: 10px;
  background-color: #1cc879;
}
.search-result-wraper .item-wraper .cell-capacity-wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.search-result-wraper .item-wraper .cell-capacity-wraper .cell-btn {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  display: block;
  max-width: 100px;
  padding: 7px 15px;
  border-radius: 5px;
  color: #fff;
}
.search-result-wraper .item-wraper .cell-capacity-wraper .fill {
  background-color: #1cc879;
}
.search-result-wraper .item-wraper .cell-capacity-wraper .ignore {
  background-color: rgba(255, 112, 112, 0.6784313725);
}
.search-result-wraper .item-wraper .cell-capacity-wraper .cell-input {
  display: block;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  height: 40px;
  max-width: 80px;
  border: 2px solid #a7c9e8;
  background-color: none;
}
.search-result-wraper .item-wraper .cell-capacity-wraper .cell-input::-moz-placeholder {
  font-size: 10px;
  font-weight: 400;
}
.search-result-wraper .item-wraper .cell-capacity-wraper .cell-input::placeholder {
  font-size: 10px;
  font-weight: 400;
}
.search-result-wraper .item-wraper .item-btn-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.search-result-wraper .item-wraper .item-btn-wraper .btn {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  width: 120px;
  border-radius: 5px;
  padding: 10px 15px;
  transition: 0.4s;
}
.search-result-wraper .item-wraper .item-btn-wraper .list-btn {
  background-color: #1cc879;
}
.search-result-wraper .item-wraper .item-btn-wraper .compare-wraper .compare-btn {
  background-color: rgba(255, 112, 112, 0.6784313725);
}
.search-result-wraper .item-wraper .item-btn-wraper .compare-wraper .clicked {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.search-result-wraper .item-wraper .item-btn-wraper .compare-wraper .compare-inp {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid rgb(0, 0, 0);
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-right: none;
  height: 31px;
  width: 60px;
  transform: scaleX(0);
  transform-origin: right;
  transition: 0.4s;
}
.search-result-wraper .item-wraper .item-btn-wraper .compare-wraper .visible-inp {
  transform: scaleX(1);
}
.search-result-wraper .item-wraper .item-data-btn-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-result-wraper .item-wraper .item-data-btn-wraper .btn {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: rgb(167, 201, 232);
  border-radius: 5px;
  padding: 10px 15px;
}
.search-result-wraper .item-wraper .item-footer .sales-item,
.search-result-wraper .item-wraper .item-footer .deliveries-item,
.search-result-wraper .item-wraper .item-footer .reserve-item {
  padding: 10px;
  border-radius: 5px;
  background-color: #d7e3f2;
  margin-bottom: 30px;
}
.search-result-wraper .item-wraper .item-footer .sales-row,
.search-result-wraper .item-wraper .item-footer .deliveries-row,
.search-result-wraper .item-wraper .item-footer .reserve-row {
  display: flex;
  justify-content: space-between;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 2px solid #4c6384;
  padding: 10px;
}
.search-result-wraper .item-wraper .item-footer .order-wraper .order-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px;
}
.search-result-wraper .item-wraper .item-footer .order-wraper .order-item .text-wraper {
  font-family: "Trebuchet MS", sans-serif;
}
.search-result-wraper .item-wraper .item-footer .order-wraper .order-item .text-wraper .position-name {
  font-size: 16px;
  font-weight: 800;
  padding-left: 15px;
  margin-bottom: 10px;
}
.search-result-wraper .item-wraper .item-footer .order-wraper .order-item .text-wraper .order-article,
.search-result-wraper .item-wraper .item-footer .order-wraper .order-item .text-wraper .position-quality {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.search-result-wraper .item-wraper .item-footer .order-wraper .order-item .text-wraper .order-article span,
.search-result-wraper .item-wraper .item-footer .order-wraper .order-item .text-wraper .position-quality span {
  padding: 0 5px;
}
.search-result-wraper .item-wraper .item-footer .message-title {
  position: static;
  transform: none;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 800;
  color: #4c6384;
  text-align: center;
  margin: 20px auto;
}
.search-result-wraper .success {
  background-color: #7effb9;
}

.production-wraper .production-item-wraper {
  padding: 10px 5px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 30px;
}
.production-wraper .production-item-wraper .item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-wraper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.btn-wraper .btn {
  padding: 5px;
  position: relative;
  border: 2px solid #fff;
  background-color: #4c6384;
  width: 50px;
}
.btn-wraper .btn .counter {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  position: absolute;
  top: -20px;
  right: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #ff7070;
  padding: 2px;
}

.wraper {
  padding: 50px 5px;
}
.wraper .message-title {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 800;
  color: #4c6384;
  text-align: center;
  margin: 20px auto;
  width: 100%;
}
.wraper .content-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wraper .elaboration-wraper .table-wraper {
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 30px;
}
.wraper .elaboration-wraper .table-wraper .table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #d1d9e8;
}
.wraper .elaboration-wraper .table-wraper .table-row .table-desc,
.wraper .elaboration-wraper .table-wraper .table-row .table-text,
.wraper .elaboration-wraper .table-wraper .table-row .image-desc {
  padding: 10px 5px;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
.wraper .elaboration-wraper .table-wraper .table-row .image-desc {
  width: 150px;
  text-align: center;
}
.wraper .elaboration-wraper .table-wraper .table-row .table-desc {
  width: 20%;
}
.wraper .elaboration-wraper .table-wraper .table-row .table-text {
  text-align: center;
  width: 80%;
}
.wraper .elaboration-wraper .table-wraper .table-row .table-input-wraper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.wraper .elaboration-wraper .table-wraper .table-row .table-input-wraper .table-input {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: 600;
  width: 70%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 14px 10px;
}
.wraper .elaboration-wraper .table-wraper .table-row .table-input-wraper .send-btn {
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #1cc879;
}
.wraper .elaboration-wraper .table-wraper .warn {
  background-color: #fcd757;
}
.wraper .elaboration-wraper .table-wraper .success {
  background-color: #7effb9;
}
.wraper .elaboration-wraper .table-wraper .danger {
  background-color: #ff7070;
}
.wraper .elaboration-wraper .table-wraper .image-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wraper .elaboration-wraper .table-wraper .image-row .image-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wraper .elaboration-wraper .table-wraper .elaboration-btn-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.wraper .elaboration-wraper .table-wraper .elaboration-btn-wraper .btn {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #a7c9e8;
  border-radius: 5px;
  padding: 10px 15px;
}
.wraper .elaboration-wraper .table-wraper .item-footer .sales-item,
.wraper .elaboration-wraper .table-wraper .item-footer .deliveries-item,
.wraper .elaboration-wraper .table-wraper .item-footer .reserve-item {
  padding: 10px;
  border-radius: 5px;
  background-color: #d7e3f2;
  margin-bottom: 30px;
}
.wraper .elaboration-wraper .table-wraper .item-footer .sales-row,
.wraper .elaboration-wraper .table-wraper .item-footer .deliveries-row,
.wraper .elaboration-wraper .table-wraper .item-footer .reserve-row {
  display: flex;
  justify-content: space-between;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 2px solid #4c6384;
  padding: 10px;
}
.wraper .elaboration-wraper .table-wraper .item-footer .order-wraper .order-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px;
}
.wraper .elaboration-wraper .table-wraper .item-footer .order-wraper .order-item img.goods-image {
  width: 18%;
}
.wraper .elaboration-wraper .table-wraper .item-footer .order-wraper .order-item .text-wraper {
  font-family: "Trebuchet MS", sans-serif;
  padding-left: 15px;
  min-width: 80%;
}
.wraper .elaboration-wraper .table-wraper .item-footer .order-wraper .order-item .text-wraper .position-name {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}
.wraper .elaboration-wraper .table-wraper .item-footer .order-wraper .order-item .text-wraper .order-article,
.wraper .elaboration-wraper .table-wraper .item-footer .order-wraper .order-item .text-wraper .position-quality {
  padding: 5px 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.wraper .elaboration-wraper .table-wraper .item-footer .order-wraper .order-item .text-wraper .order-article span,
.wraper .elaboration-wraper .table-wraper .item-footer .order-wraper .order-item .text-wraper .position-quality span {
  padding: 0 5px;
}
.wraper .elaboration-wraper .table-wraper .item-footer .message-title {
  position: static;
  transform: none;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 800;
  color: #4c6384;
  text-align: center;
  margin: 20px auto;
}
.wraper .questions-wraper .table-wraper {
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 5px;
}
.wraper .questions-wraper .table-wraper .table-row {
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #d1d9e8;
}
.wraper .questions-wraper .table-wraper .table-row .table-desc,
.wraper .questions-wraper .table-wraper .table-row .table-text {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.wraper .questions-wraper .table-wraper .area-wraper {
  position: relative;
}
.wraper .questions-wraper .table-wraper .area-wraper textarea {
  width: 100%;
  min-height: 120px;
  outline: none;
  border: 2px solid #d1d9e8;
  border-radius: 2px;
}
.wraper .questions-wraper .table-wraper .area-wraper .answer-btn {
  position: absolute;
  bottom: 25px;
  right: 15px;
  background-color: #1cc879;
  padding: 10px;
  border-radius: 5px;
}
.wraper .list-wraper .list-item,
.wraper .list-wraper .compare-item,
.wraper .compare-wraper .list-item,
.wraper .compare-wraper .compare-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 30px;
  padding: 5px 10px;
}
.wraper .list-wraper .list-item .del-btn,
.wraper .list-wraper .compare-item .del-btn,
.wraper .compare-wraper .list-item .del-btn,
.wraper .compare-wraper .compare-item .del-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}
.wraper .list-wraper .list-item .item-text-wraper,
.wraper .list-wraper .compare-item .item-text-wraper,
.wraper .compare-wraper .list-item .item-text-wraper,
.wraper .compare-wraper .compare-item .item-text-wraper {
  width: 80%;
  padding: 40px 15px;
}
.wraper .list-wraper .list-item .item-text-wraper .compare-time,
.wraper .list-wraper .list-item .item-text-wraper .date-desc,
.wraper .list-wraper .compare-item .item-text-wraper .compare-time,
.wraper .list-wraper .compare-item .item-text-wraper .date-desc,
.wraper .compare-wraper .list-item .item-text-wraper .compare-time,
.wraper .compare-wraper .list-item .item-text-wraper .date-desc,
.wraper .compare-wraper .compare-item .item-text-wraper .compare-time,
.wraper .compare-wraper .compare-item .item-text-wraper .date-desc {
  padding: 5px 10px;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: #d7e3f2;
  border-radius: 5px;
  margin-bottom: 15px;
}
.wraper .list-wraper .list-item .item-text-wraper .item-article,
.wraper .list-wraper .compare-item .item-text-wraper .item-article,
.wraper .compare-wraper .list-item .item-text-wraper .item-article,
.wraper .compare-wraper .compare-item .item-text-wraper .item-article {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(255, 112, 112, 0.6784313725);
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 5px;
}
.wraper .list-wraper .list-item .item-text-wraper .item-count,
.wraper .list-wraper .list-item .item-text-wraper .item-head,
.wraper .list-wraper .compare-item .item-text-wraper .item-count,
.wraper .list-wraper .compare-item .item-text-wraper .item-head,
.wraper .compare-wraper .list-item .item-text-wraper .item-count,
.wraper .compare-wraper .list-item .item-text-wraper .item-head,
.wraper .compare-wraper .compare-item .item-text-wraper .item-count,
.wraper .compare-wraper .compare-item .item-text-wraper .item-head {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}
.wraper .list-wraper .list-item .item-text-wraper .procesed-btn,
.wraper .list-wraper .compare-item .item-text-wraper .procesed-btn,
.wraper .compare-wraper .list-item .item-text-wraper .procesed-btn,
.wraper .compare-wraper .compare-item .item-text-wraper .procesed-btn {
  padding: 10px 15px;
  border-radius: 5px;
  background: #1cc879;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.wraper .list-wraper .success,
.wraper .compare-wraper .success {
  background-color: #7effb9;
}
.wraper .orders-wraper .order-row {
  background-color: #fff;
  border: 1px solid #d1d9e8;
  border-radius: 5px;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.wraper .orders-wraper .order-row .row-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.wraper .orders-wraper .order-row .row-footer .item-preloader {
  position: relative;
  width: 100%;
  height: 80px;
}
.wraper .orders-wraper .order-row .row-footer .item-preloader img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  transform: translate(-50%, -50%);
}
.wraper .orders-wraper .order-row .row-footer .order-wraper .order-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}
.wraper .orders-wraper .order-row .row-footer .order-wraper .order-item .text-wraper {
  padding: 0 5px 0 15px;
  margin-bottom: 10px;
  width: 80%;
}
.wraper .orders-wraper .order-row .row-footer .order-wraper .order-item .text-wraper .order-article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #1cc879;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
}
.wraper .orders-wraper .order-row .row-footer .order-wraper .order-item .text-wraper .order-article span {
  padding: 0 5px;
}
.wraper .orders-wraper .order-row .row-footer .order-wraper .order-item .text-wraper .position-name {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}
.wraper .orders-wraper .order-row .row-footer .order-wraper .order-item .text-wraper .position-quality {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 14px;
  font-weight: 800;
  background-color: #1cc879;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}
.wraper .production-wraper .production-item-wraper {
  border-radius: 5px;
  background-color: #fff;
  padding: 15px 5px;
  margin-bottom: 30px;
}
.wraper .production-wraper .production-item-wraper .item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
}
.wraper .production-wraper .production-item-wraper .item-head .get-to-production-btn {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  background-color: #1cc879;
  border-radius: 5px;
}
.wraper .production-wraper .production-item-wraper .item-head .item-input {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #a7c9e8;
  border-radius: 2px;
  padding: 5px;
  max-width: 50px;
}
.wraper .production-wraper .production-item-wraper .item-head .item-input::-moz-placeholder {
  padding-left: 10px;
}
.wraper .production-wraper .production-item-wraper .item-head .item-input::placeholder {
  padding-left: 10px;
}
.wraper .production-wraper .production-item-wraper .item-head .procesed {
  border: none;
  background-color: #d7e3f2;
  pointer-events: none;
}
.wraper .production-wraper .production-item-wraper .production-item-head {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.wraper .production-wraper .production-item-wraper .production-item-head .component-item-article {
  background-color: #ff7070;
  padding: 5px;
  border-radius: 2px;
  color: #fff;
  font-weight: 600;
}
.wraper .production-wraper .production-item-wraper .production-item-place {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
  border-radius: 2px;
  color: #fff;
  margin-bottom: 20px;
}
.wraper .production-wraper .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wraper .production-wraper .flex-container .component-wraper {
  padding-left: 10px;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-bottom: 2px solid #4c6384;
}
.wraper .production-wraper .flex-container .component-wraper .desc {
  font-weight: 600;
  margin-bottom: 10px;
}
.wraper .production-wraper .flex-container .component-wraper .add-btn {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  background-color: #1cc879;
}
.wraper .production-wraper .flex-container .success {
  background-color: #7effb9;
}
.wraper .production-wraper .product-btn {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #1cc879;
  padding: 5px 10px;
  width: 150px;
  text-align: center;
  display: block;
  margin: 20px auto;
  border-radius: 5px;
}
.wraper .production-wraper .danger {
  background-color: #ff7070;
}
.wraper .production-wraper .procesed {
  background-color: #ffe792;
}
.wraper .history-wraper .history-item {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  background-color: #fff;
  margin-bottom: 30px;
}
.wraper .empty-cells-wraper {
  padding: 20px 5px 0;
}
.wraper .empty-cells-wraper .empty-cells-description {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.wraper .empty-cells-wraper .empty-items-wraper .empty-cell-item {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #fff;
}
.wraper .empty-cells-wraper .empty-items-wraper .empty-cell-item .empty-cell-description span {
  display: inline-block;
  padding: 0 15px;
}
.wraper .empty-cells-wraper .empty-items-wraper .add-btn {
  font-size: 16px;
  text-align: center;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #1cc879;
  color: #fff;
}
.wraper .search-empty_cells {
  display: block;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 15px 20px;
  margin: 30px auto;
  border-radius: 5px;
  background-color: #1cc879;
}

.checking-indicator {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #1cc879;
  z-index: 1000;
  min-width: 300px;
}
.checking-indicator .indecator-desc {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #fff;
}
.checking-indicator img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.delivery-wraper {
  padding: 20px 10px;
}
.delivery-wraper .delivery-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px 0;
}
.delivery-wraper .delivery-header .delivery-desc {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  padding: 0 10px;
}
.delivery-wraper .delivery-item {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #fff;
}
.delivery-wraper .delivery-item .desc-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delivery-wraper .delivery-item .item-footer .item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 35px 0;
}
.delivery-wraper .delivery-item .item-footer .item .item-desc {
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  padding: 10px 5px;
}
.delivery-wraper .delivery-item .item-footer .item .item-desc:nth-child(1) {
  width: 40%;
}
.delivery-wraper .delivery-item .item-footer .item .item-desc:nth-child(2) {
  width: 20%;
}
.delivery-wraper .delivery-item .item-footer .item .item-desc:nth-child(3) {
  width: 15%;
}
.delivery-wraper .delivery-item .item-footer .item .item-desc:nth-child(4) {
  width: 20%;
}
.delivery-wraper .delivery-item .item-footer .item .btn {
  font-size: 12px;
  background-color: #1cc879;
  padding: 8px 5px;
  color: #fff;
  border-radius: 5px;
}
.delivery-wraper .delivery-item .item-footer .item .indicator-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
}
.delivery-wraper .delivery-item .item-footer .item .indicator-wrapper .fill-indicator {
  position: relative;
  height: 5px;
  width: 100%;
  background-color: #1cc879;
  border-radius: 2px;
}
.delivery-wraper .delivery-item .item-footer .item .indicator-wrapper .fill-indicator .indicator-desc {
  position: absolute;
  top: -30px;
  right: 0px;
  max-width: 150px;
  height: 25px;
  background-color: #1cc879;
  color: #fff;
  border-radius: 4px 4px 0 4px;
  padding: 5px;
}
.delivery-wraper .delivery-item .item-footer .item .indicator-wrapper .fill-indicator .indicator-desc:after {
  position: absolute;
  content: "";
  bottom: -4px;
  right: 0px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #1cc879;
}
.delivery-wraper .delivery-item .item-footer .item-header {
  font-weight: 600;
}

.elaborations-list-wrapper .list-item {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 15px;
}
.elaborations-list-wrapper .list-item .item-desc {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 12px;
  font-weight: 600;
  padding: 5px;
  width: 100%;
}
.elaborations-list-wrapper .list-item .item-desc span {
  float: right;
  display: inline-block;
  margin-right: auto;
}
.elaborations-list-wrapper .list-item .item-desc span::after {
  content: " ";
  clear: both;
}/*# sourceMappingURL=mobile.css.map */