* {
	box-sizing: border-box;
}
img {
	height: auto;
	max-width: 100%;
}
body {
	padding: 0;
	margin: 0;
}
// prelaoder
.preloader-wraper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #000000a9;
	.preloader-spiner {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 40%;
		width: 40%;
		transform: translate(-50%, -50%);
	}
}
// buttons
.btn-wraper {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	z-index: 999;
	.btn {
		position: relative;
		width: 50px;
		height: 50px;
		border: 2px solid #fff;
		background-color: #657d9c;
		transition: 0.3s;
		&:active {
			transform: scale(0.9);
		}
		.counter {
			position: absolute;
			right: -5px;
			top: -20px;
			height: 30px;
			width: 30px;
			border-radius: 50%;
			text-align: center;
			padding: 4px;
			font-family: sans-serif;
			font-size: 14px;
			font-weight: 600;
			color: #fff;
			background-color: #db7171;
			display: none;
		}
	}
}

.content-title {
	font-family: sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	color: #657d9c;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}
