* {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.preloader-wraper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.662745098);
}
.preloader-wraper .preloader-spiner {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 40%;
  width: 40%;
  transform: translate(-50%, -50%);
}

.btn-wraper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  z-index: 999;
}
.btn-wraper .btn {
  position: relative;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  background-color: #657d9c;
  transition: 0.3s;
}
.btn-wraper .btn:active {
  transform: scale(0.9);
}
.btn-wraper .btn .counter {
  position: absolute;
  right: -5px;
  top: -20px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  padding: 4px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #db7171;
  display: none;
}

.content-title {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #657d9c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.table-wraper {
  border: 3px solid #202327;
  width: 98%;
  margin: 15px auto;
  background-color: #d2d9f0;
}
.table-wraper .table-row {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 800;
  display: flex;
  justify-content: flex-start;
  border: 2px solid #202327;
}
.table-wraper .table-row .table-desc {
  position: relative;
  padding: 10px 15px;
  width: 35%;
  min-height: 100%;
}
.table-wraper .table-row .table-desc::after {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 2px;
  background-color: #202327;
}
.table-wraper .table-row .table-text,
.table-wraper .table-row .table-input-wraper {
  position: relative;
  padding: 10px 15px;
  width: 75%;
  min-height: 100%;
}
.table-wraper .table-row .table-text::after,
.table-wraper .table-row .table-input-wraper::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 2px;
  background-color: #202327;
}
.table-wraper .table-row .table-input-wraper {
  display: flex;
  justify-content: center;
}
.table-wraper .table-row .table-input {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 85%;
}
.table-wraper .table-row .table-input::-moz-placeholder {
  padding-left: 15px;
}
.table-wraper .table-row .table-input::placeholder {
  padding-left: 15px;
}
.table-wraper .table-row .send-btn {
  width: 15%;
  background-color: transparent;
  border: none;
}
.table-wraper .image-wraper {
  display: flex;
  justify-content: center;
}
.table-wraper .warn {
  background-color: #ffe09e;
}
.table-wraper .danger {
  background-color: #ff8e8e;
}
.table-wraper .success {
  background-color: #aeffb2;
}/*# sourceMappingURL=mobile.css.map */