.search {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	#search {
		font-size: 18px;
		font-weight: 600;
		padding: 10px;
		width: 70% !important;
	}
	input[type="button"] {
		padding: 10px 15px;
	}
	.select2 {
		width: 100% !important;
	}
}
.select2-results__option {
	padding: 15px;
	text-align: center;
	font-weight: 600;
}

.divLeft,
.curency {
	display: none;
}

/* buttons */
.buttons {
	overflow-y: hidden !important;
	max-height: 100%;
}

.buttons-toggler {
	display: block;
	padding: 10px;
	width: 100%;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
}
.hide-buttons {
	max-height: 45px;
}

#taskClientTd,
#search_sel {
	display: none;
}

/* drop table styles */
tbody {
	display: flex;
	justify-content: center;
}

tr td {
	display: block;
}

tr td br {
	display: none;
}

tr td br::after {
	content: " ";
}

tr td #elaborationInput348303 {
	width: 70% !important;
	padding: 5px 2px;
}

tr td button {
	width: 25%;
	padding: 5px 2px;
}

.loader {
	display: none;
}
/* table */

.table {
	margin-top: 20px;
	.fx {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		border: 1px solid #000;
		.table-desc {
			font-family: sans-serif;
			font-size: 14px;
			font-weight: 600;
			min-height: 100%;
			padding: 10px;
			&:first-child {
				position: relative;
				min-width: 30%;
				&::after {
					position: absolute;
					content: "";
					right: -1px;
					top: 0;
					height: 100%;
					width: 2px;
					background-color: #000;
				}
			}
			&:nth-child(2) {
				position: relative;
				&::after {
					position: absolute;
					content: "";
					left: -1px;
					top: 0;
					height: 100%;
					width: 2px;
					background-color: #000;
				}
				text-align: center;
				min-width: 70%;
			}
		}
		.inp-wraper {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 auto;
			width: 95%;
			input {
				font-family: sans-serif;
				font-size: 14px;
				font-weight: 600;
				height: 30px;
				width: 70%;
			}
			button {
				height: 30px;
				width: 30%;
			}
		}
		.goods-photo-wraper {
			display: flex;
			justify-content: center;
			img {
				height: 50px;
				width: 50px;
				margin: 0 5px;
			}
		}
	}
}
