// colors
$white: #fff;
$warn: #ffe09e;
$danger: #ff8e8e;
$succes: #aeffb2;
$mainBg: #e7eef7;
$mainBtnBg: #657d9c;
$actionBtnBg: #1cc879;
$red: #ff8e8ead;
// shadows color
$itemShadow: #dee6f2;
// fonts
$headers: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
	Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$descriptions: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
