$white: #fff;
$warn: #fcd757; // Adjusted warn color
$danger: #ff7070; // Adjusted danger color
$success: #7effb9; // Adjusted success color
$mainBg: #d7e3f2; // Adjusted main background color
$black: rgb(0, 0, 0);
$blue: #a7c9e8; // Adjusted blue color
$preloaderBg: rgba(0, 0, 0, 0.39);
$mainBtnBg: #4c6384; // Adjusted main button background color
$actionBtnBg: #1cc879;
$red: #ff7070ad; // Adjusted red color
$procesed: #ffe792;

// shadows color
$itemShadow: #d1d9e8; // Adjusted shadow color

// fonts
$headers: "Roboto", "Helvetica Neue", sans-serif; // Adjusted font stack
$descriptions: "Trebuchet MS", sans-serif; // Adjusted font stack
